* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1e2f, #2b2b45);
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00f5d4;
}

.resume-btn {
  background: #00f5d4;
  padding: 8px 15px;
  border-radius: 20px;
  color: black !important;
}

/* HERO SECTION */
.hero {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 20px;
}

    .hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 600px;
  opacity: 0.8;
  line-height: 1.6;
}

.hero span {
  color: #00f5d4;
}

.hero p {
  max-width: 600px;
  opacity: 0.8;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
  text-align: center;
}

/* PROJECT CARDS */
.project-box {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 25px;
  margin: 25px auto;
  width: 70%;
  border-radius: 15px;
  transition: 0.3s;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* SKILLS */
.skills-list li {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #00f5d4;
  border-radius: 20px;
  color: black;
}

/* MOBILE */
@media(max-width: 768px){
  .navbar {
    flex-direction: column;
  }
  .project-box {
    width: 95%;
  }
}
